
.title1 {
    
    text-align: center;
}

.back-title {
    font-size:70px;
    text-align: center;
    color:#b18b8b;
}


.service-page{
    

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 80px;
  
}

.name{
    text-align: left;
    padding:15px 50px;
    border-bottom:1px solid #b18b8b;


}

.price{
    text-align: right;
    padding:15px 50px;
    border-bottom:1px solid #b18b8b;

}

@media (max-width:700px){
    
}