
    .pricing-menu{
        justify-content: center;
    }
    
    .title1{
        padding-top:160px;
        text-align: center;
    }

    .title-b{
        color:rgba(172, 115, 115, 0.048);
        left:37%;
        top:120px;
        font-size:70px;
        position: absolute;

    }


    @media(max-width:700px){
        .title-b{
        left:16%;
        }
       
    }

