.sign-up { 
        border: 1px solid black;
        box-sizing: border-box;
        padding: 100px 110px;
       
}

button {
    width: 165px;
    padding:10px 10px;
    align-items: center;
}

input{
    height: 30px;
    border:none;
}