.sign-in-and-sign-up-page{
    
    display: flex;
    justify-content: space-between;
    padding:0 20%;
}

.register{
    padding-top:200px;
}

.sub-button {
    width:200px;
    margin:2px 50px;
    padding:12px 12px;
    border:none;
    -o-transition:1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
    transition: 1s;
    background-color:#c48991;
    text-decoration:none;
    color:#fff;

  

    &:hover{
        color: #c48991;
        background-color: #fff;
        cursor: pointer;
        border: 1px solid #c48991;
    }
}

.google-sign-in{
    width:200px;
    margin:2px 50px;
    padding:12px 12px;
    border:none;
    -o-transition:1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
    transition: 1s;
    background-color:#c48991;
    text-decoration:none;
    color:#fff;

  

    &:hover{
        color: #c48991;
        background-color: #fff;
        cursor: pointer;
        border: 1px solid #c48991;
    }
}
