.homepage{
    display: flex;
    flex-direction: wrap;
    align-items: center;
    padding: 12%;
  

    .image {
        width: 400px;
        border-radius: 300px;
    }
    .text-wrapper{
        color:rgb(68, 53, 53);
        font-weight: 800;
    }

    .deco {
        font-size:40px;
        color:rgb(255, 255, 255);
    }

    .back-b{
        color:rgba(155, 73, 73, 0.089);
        padding-left:30%;
        font-size:300px;
        position: absolute;
    }

    .back-t {
        color:rgba(155, 73, 73, 0.089);
        font-size:200px;
        padding-left: 30%;
        position: absolute;

    }
    
}


.text{
    padding:5px 50px;
}

.text3{
    padding: 0 50px;
    float:right;
}

@media(max-width:700px){

    .homepage{
        overflow: hidden;

        .back-t {
            padding:0 ;
        }

        .back-p {
            padding:0 ;
        }

        display: inline;      
        .image {
            margin-top:80px;
            padding: 10%;
            width:400px;
            border-radius: 600px;
        }
    
    
        .text-wrapper{
            color:rgb(68, 53, 53);
            padding:60px;
            font-weight: 800;
        }
    
        .deco {
            font-size:40px;
            color:rgb(255, 255, 255);
        }
        
    }
    

    
    .text{
        padding:5px 50px;
    }
    
    .text3{
        padding: 0 50px;
        float:right;
    }


}