.item1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;

    .booking{
        display: inline-flex;
    }

    .button{
        padding:50px;
    }



    .title1{
        background-color:rgba(250, 250, 250, 0.315);
        width:500px;
        padding:20px;
    }

   
    
    .image-ser{
        width:210px;
        height: 300px;
        background-size: 100% 100%;
        border: 2px solid #fff;
        transition:.5s;

        &:hover{

        }
    }
}

@media (max-width:700px){

    .item1{
        padding:0px;
        display: flex;
        flex-direction:row;
        margin:20px;

       
    }

    .text-space{
        float:right;
        padding:20px;
    }
}




