.item1{


    .booking{
        display: flex;
    }

    .button .button-link{


        margin:20px 50px;
        padding:12px 12px;
        border:none;
        -o-transition:1s;
        -ms-transition:1s;
        -moz-transition:1s;
        -webkit-transition:1s;
        transition: 1s;
        background-color:#c48991;
        text-decoration:none;
        color:#fff;
    
      

        &:hover{
            color: #c48991;
            background-color: #fff;
            cursor: pointer;
            border: 1px solid #c48991;
        }
        


        

        
    }

    .name{
        font-size:26px;
        letter-spacing: 1px;;
        font-family: 'Cormorant Garamond', serif;
        //font-family: 'Khula', sans-serif;
        font-weight: 500;
    }



    .title1{
        background-color:rgba(250, 250, 250, 0.24);
        width:450px;
        padding:20px;
        border:4px solid rgba(112, 85, 85, 0.11);
    }

   
    
    .image-ser{
        width:40%;
        height: 300px;
        background-size: 100% 100%;
        transition:.5s;
        border:2px solid rgb(255, 255, 255);
    
    }

    .text-space{
        font-size:18px;
        color:rgb(58, 44, 44);
    }
}

@media (max-width:1200px){

    .item1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 0px;
        margin:0;
        width:100%;
        overflow: hidden;      
    }

    .text-space{
        float:right;
        padding:20px;
    }
}




